@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="Upsert" class="btn btn-success btn-sm mb-3 float-end"><i class="fas fa-plus"></i> &nbsp; Create New Category</a>

<table id="tblData" class="table table-bordered" style="width: 100%;">
    <thead class="table-info">
        <tr>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
</table>

@section Scripts {
<script src="~/js/category.js"></script>
}
