@model CoverType

@{
    ViewData["Title"] = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var upsert = Model.Id > 0 ? "Edit" : "Create";
}

<h4>Cover Type</h4>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Upsert" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">
                    <input type="submit" value="@upsert" class="btn btn-primary form-control" />
                </div>
                <div class="col-md-6">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial" />
     }
}
